@import "../../../../node_modules/material-design-lite/src/material-design-lite";
@import "@material/select/mdc-select";
@import url(base.scss);
@import url(module.scss);
@import url(layout.scss);
@import 'bootstrap/scss/bootstrap';
@import '@material/top-app-bar/mdc-top-app-bar';
@import '@material/drawer/mdc-drawer';
@import '@material/list/mdc-list';
@import '@material/button/mdc-button';
@import '@material/elevation/mdc-elevation';
@import '@material/form-field/mdc-form-field';
@import '@material/card/mdc-card';


@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(~/material-design-icons/iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(~material-design-icons/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
    url(~material-design-icons/iconfont/MaterialIcons-Regular.woff) format('woff'),
    url(~material-design-icons/iconfont/MaterialIcons-Regular.ttf) format('truetype');
    }
    
    .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px; /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    
    /* Support for all WebKit browsers. /
    -webkit-font-smoothing: antialiased;
    / Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    
    /* Support for IE. */
    font-feature-settings: 'liga';
    }

@import "./customize";
@import "./base";
@import "./horizontalscrollablecontainer";
@import "./dashboard";
